<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Análise finalizada!</title>
</head>

<body>
  <main>
    <h1>Análise finalizada!</h1>
    <p>Sua solicitação <b>{{ analysisName }}</b> foi <b>{{ analysisStatus }}</b>.</p>

    {{#if biUrl}}
    <p>Clique <a href="{{ biUrl }}" target="_blank">AQUI</a> para acessar B.I.</p>

    {{/if}}
    <p style="margin: 0;"><b>Observações:</b></p>
    <p style="margin: 0;">{{ analysisDescription }}</p>
    <br />
    <a href="https://ativacaotec.com/in/analyzes">Visualizar no site</a>
  </main>
</body>

</html>