<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Novo processo iniciado!</title>
</head>

<body>
  <main>
    <h1>Nova solicitação de processo</h1>

    <div>

      <div>
        <p style="margin: 0;"><b>Título:</b> {{ title }}</p>
        <p style="margin: 0;"><b>Empresa:</b> {{ companyName }}</p>
      </div>

      <p>Click <a href="{{ contentUrl }}">AQUI</a> para acessar a lista de processos.</p>

    </div>
  </main>
</body>

</html>