<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Conta liberada!</title>
</head>

<body>
  <main>
    <h1>Conta liberada!</h1>
    <p style="margin: 0;">Sua conta foi liberada com sucesso. Você já pode acessar sua conta na plataforma Ativação Tec.
    </p>
    <p>Clique <a href="https://ativacaotec.com/login" target="_blank">AQUI</a> para acessar a plataforma.</p>

  </main>
</body>

</html>