@tailwind base;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: white;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: inherit;
  /* border-radius: 5px; */
}

*::-webkit-scrollbar-thumb {
  background-color: #ffd700;
  /* border-radius: 14px; */
  /* border: 3px solid var(--primary); */
}


@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-200;
  @apply text-slate-800;
}
